<nav class="md:text-2xl">
  <div class="flex items-center justify-between mr-4">
    <a
      class="m-4 text-blue-700 p-3 font-semibold hover:bg-blue-700 hover:text-white hover:cursor-pointer rounded-t-full"
      routerLink=""
      >Votes</a
    >
    @if (!authService.currentUser()) {
    <div class="m-4 flex gap-x-10">
      <a class="link link-hover" routerLink="sign-in">Sign in</a>
      <a class="link link-hover" routerLink="sign-up">Sign up</a>
    </div>
    } @else {
    <div class="m-4 flex gap-x-10">
      <div class="flex items-center gap-2">
        <mat-icon>account_circle</mat-icon>
        <span>{{ authService.currentUser()?.userName }}</span>
      </div>
      <a class="link link-hover" (click)="logout()">Logout</a>
    </div>
    }
  </div>
</nav>
