<nav class="md:text-2xl">
  <div class="flex items-center justify-between mr-4">
    <a
      class="m-4 text-blue-700 p-3 font-semibold hover:bg-blue-700 hover:text-white hover:cursor-pointer rounded-t-4xl"
      routerLink=""
      >VotesLib</a
    >
    @if (!authService.currentUser()) {
    <div class="m-4 flex gap-x-10">
      <a class="link link-hover" routerLink="sign-in">Sign in</a>
      <a class="link link-hover" routerLink="sign-up">Sign up</a>
    </div>
    } @else {
    <div class="m-4 flex gap-x-10">
      <div>
        <button class="btn btn-ghost font-medium text-lg" matButton (click)="openDialog()">
          + Create Poll
        </button>
      </div>

      <div class="dropdown dropdown-end">
        <div
          tabindex="0"
          role="button"
          class="btn btn-ghost text-lg font-medium rounded-field"
        >
          <div class="flex items-center gap-2">
            <mat-icon>account_circle</mat-icon>
            <span>{{ authService.currentUser()?.userName }}</span>
          </div>
        </div>
        <ul
          tabindex="-1"
          class="menu dropdown-content bg-base-200 rounded-box z-1 mt-4 w-52 p-2 shadow-sm"
        >
          <li><a>User dashboard</a></li>
          <li><a class="link link-hover" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
    }
  </div>
</nav>
