<h2 mat-dialog-title>Create poll</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="createPollForm">
    <app-form-input
      label="Title"
      id="title"
      [minLength]="2"
      [maxLength]="128"
      [control]="titleControl"
      placeholder="Title"
      inputClass="input"
      labelClass="fieldset-legend"
    ></app-form-input>

    <div>
      <label class="fieldset-legend">Poll duration</label>
      <input
        type="number"
        class="input w-12"
        placeholder="1"
        title="Must be between 1 and 1000"
        formControlName="timeCount"
      />
      <select class="select mt-1" formControlName="timeUnit">
        <option value="" disabled selected>Pick a time unit</option>
        <option value="minute">Minute</option>
        <option value="hour">Hour</option>
        <option value="day">Day</option>
        <option value="week">Week</option>
      </select>
      @if(timeUnitControl.invalid && (timeUnitControl.touched ||
      timeUnitControl.dirty)){ @if(timeUnitControl.hasError('required')){
      <p class="text-error p-1 mt-3 border border-red-200">
        Time unit is required
      </p>
      } } @if(timeCountControl.invalid && (timeCountControl.touched ||
      timeCountControl.dirty)){ @if(timeCountControl.hasError('required')){
      <p class="text-error p-1 mt-3 border border-red-200">
        Time count is required
      </p>
      }@if(timeCountControl.hasError('min') || timeCountControl.hasError('max')){
      <p class="text-error p-1 mt-3 border border-red-200">
        Time count must be between 1 and 1000
      </p>
      } }
    </div>

    <div>
      <legend class="fieldset-legend">Topic</legend>
      <mat-form-field>
        <mat-label>Topic</mat-label>
        <mat-select [formControl]="topicControl">
          <mat-option>-- None --</mat-option>
          @for (group of topicGroups; track group) {
          <mat-optgroup [label]="group.name">
            @for (topic of group.topics; track topic) {
            <mat-option [value]="topic.value">{{ topic.viewValue }}</mat-option>
            }
          </mat-optgroup>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div formArrayName="options">
      @for(option of formOptions.controls; let i = $index; track option) {
      <legend class="fieldset-legend">Option {{ i + 1 }}</legend>
      <label class="input">
        <input
          class="grow"
          [formControlName]="i"
          [placeholder]="'Option ' + (i + 1)"
        />
        <button class="btn btn-sm" type="button" (click)="removeOption(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </label>
      @if(option.invalid && (option.touched || option.dirty)){
      @if(option.hasError('required')){
      <p class="text-error p-1 mt-3 border border-red-200">
        Option {{ i + 1 }} is required
      </p>
      } }}
    </div>

    <button type="button" class="btn btn-primary mt-3" (click)="addOption()">
      Add option
    </button>

    @if(formOptions.invalid && (formOptions.touched || formOptions.dirty)){
    @if(formOptions.hasError('minlength') || formOptions.hasError('required')){
    <p class="text-error p-1 mt-3 border border-red-200">
      At least 2 options are required
    </p>
    } }
  </form>
</mat-dialog-content>
<mat-dialog-actions class="flex gap-8">
  <button class="btn btn-primary p-4" matButton mat-dialog-close>Cancel</button>
  <button
    class="btn btn-success p-4"
    matButton
    cdkFocusInitial
    (click)="onSubmit()"
  >
    Create
  </button>
</mat-dialog-actions>
