<div class="flex justify-center min-h-84 items-center">
  <form
    class="flex flex-col gap-4 border border-gray-300 rounded-2xl shadow-md bg-white p-9 w-96"
    [formGroup]="registerForm"
    (submit)="register()"
  >
    <div class="flex justify-center text-2xl font-bold">Sign up</div>
    <app-form-input
      label="Username"
      id="userName"
      [minLength]="4"
      [maxLength]="256"
      [control]="userNameControl"
      placeholder="Username"
      inputClass="input"
      labelClass="fieldset-legend"
    ></app-form-input>
    <app-form-input
      label="Email"
      id="email"
      [control]="emailControl"
      placeholder="Email"
      inputClass="input"
      labelClass="fieldset-legend"
    ></app-form-input>
    <app-form-input
      label="Password"
      id="password"
      [minLength]="6"
      [maxLength]="64"
      [control]="passwordControl"
      placeholder="Password"
      inputClass="input"
      labelClass="fieldset-legend"
    ></app-form-input>
    <button
      [disabled]="!registerForm.valid"
      class="btn btn-primary disabled:btn-ghost"
    >
      Register
    </button>
  </form>
</div>
