<div
  class="collapse border border-gray-300 rounded-lg shadow-sm flex-shrink-0 w-66 min-w-66 max-w-66 sm:w-80 sm:min-w-80 sm:max-w-80 xl:w-120 xl:min-w-120 xl:max-w-120"
>
  <input type="checkbox" [ngModel]="isDropped" (ngModelChange)="dropEvent()" />

  <div
    class="collapse-title font-semibold bg-white text-gray-800 flex justify-between p-4 min-h-20 hover:bg-gray-50 transition-colors rounded-t-lg"
  >
    <div class="flex flex-col w-full">
      <div class="font-semibold text-lg line-clamp-2">{{ title }}</div>

      <div class="text-gray-500 font-mono text-sm line-clamp-4 mt-1">
        @if(topic){
        {{ topic | topic }}
        }@else{ Topic not specified }
      </div>
      <div class="text-gray-400 text-xs mt-1">
        @if(isActive) { {{ timeLeftFormatted() }} left} @else {
        <span class="text-red-500">Poll ended</span>
        }
      </div>
    </div>

    <div class="flex-shrink-0 ml-2">
      @if(isVoted()) {
      <span class="badge badge-success badge-sm">Voted</span>
      }
    </div>
  </div>

  <div
  class="collapse-content text-gray-700 text-sm max-h-96 bg-gray-50 p-3 rounded-b-lg overflow-hidden"
>
    @if(isActive){ @if(!isVoted()){
    <form [formGroup]="pollForm" (submit)="voteEvent()">
      <div class="flex flex-col gap-3 min-h-14">
        @for (item of options; track item.id) {
        <div class="flex gap-3 items-center">
          <input
            [id]="item.id"
            type="radio"
            formControlName="option"
            [value]="item"
            class="radio radio-info radio-sm"
          />
          <label [for]="item.id" class="text-sm break-words">{{
            item.text
          }}</label>
        </div>
        }
      </div>
      <button class="btn btn-primary btn-sm md:btn-md my-2 w-full">Vote</button>
    </form>
    } @else {
    <form [formGroup]="pollForm">
      <div class="flex flex-col gap-3 min-h-14">
        @for (item of options; track item.id) {
        <div class="flex gap-3 items-center">
          <input
            [id]="item.id"
            type="radio"
            formControlName="option"
            [value]="item"
            class="radio radio-info radio-sm"
          />
          <label [for]="item.id" class="text-sm break-words">{{
            item.text
          }}</label>
        </div>
        }
      </div>
      <button
        (click)="cancelVoteEvent()"
        class="btn btn-primary btn-sm md:btn-md my-2 w-full"
      >
        Cancel vote
      </button>
    </form>
    }}@else {
    <div class="flex flex-col gap-3 min-h-14">
      @for (item of options; track item.id) {
      <div class="flex items-center gap-2">
        <mat-icon
          class=""
          matTooltip="{{ item.text }}"
          style="font-size: 14px; width: 14px; height: 14px"
          >info</mat-icon
        >
        <span class="flex-2 truncate" title="{{ item.text }}">
          {{ item.text }}
        </span>

        <div class="flex-4 bg-gray-200 rounded-full h-2 mx-2">
          <div
            [ngClass]="{
              'bg-green-500': item.id === votedOption()?.id,
              'bg-blue-500': item.id !== votedOption()?.id
            }"
            class="h-2 rounded-full transition-all duration-500"
            [style.width.%]="50"
          ></div>
        </div>

        <span class="flex-1 text-xs text-gray-500 whitespace-nowrap text-end">
          5 votes
        </span>
      </div>
      }
    </div>
    }

    <div
      class="flex justify-between gap-2 text-xs mt-4 pt-2 border-t border-gray-300 text-gray-500"
    >
      <div>{{ createdTime | date : "dd/MM/yyyy" }}</div>
      <div class="text-gray-400">
        Ends: {{ endTime | date : "dd/MM/yyyy HH:mm" }}
      </div>
      <div class="text-right">
        by @if(author.length > 0){
        <span class="truncate max-w-20">{{ author }}</span>
        }@else{ anonymous }
      </div>
    </div>

    <ngx-spinner [name]="'poll-' + pollId"></ngx-spinner>
  </div>
</div>
