<div class="p-6 flex flex-wrap min-w-16 min-h-124 gap-2">
  @if(isPollsLoaded() && isVotesLoaded()){ @for (item of polls(); track item.id)
  { @if (!item.isClosed) {
  <app-poll
    [pollId]="item.id"
    [title]="item.title"
    [topic]="item.topic"
    [author]="item.userName"
    [createdTime]="item.createdTime"
    [options]="item.pollOptions"
    [votedOptionId]="getVotedOptionId(item.id)"
    (drop)="loadOptions(item.id)"
    (vote)="vote($event)"
    (cancel)="cancelVote($event)"
  ></app-poll>
  } }@empty {
  <div class="p-8">No polls yet!</div>
  } }
</div>
